<ul class="nav nav-tabs tabDemo">
    <li ng-repeat="tab in tabItems track by $index" role="presentation">
        <i class="glyphicon glyphicon-remove" ng-click="closeTab(tab, $index)" ng-show="$index"></i>
        <button class="btn {{tab.class}}" ng-bind="tab.Name" ng-click="ifShow(tab, $event)" ng-dblclick="refresh($scope,url)" style="display: block;"></button>
    </li>
</ul>
<!-- <div ui-view="menu0" class="well"></div> -->
<!-- <div ng-repeat="tab in tabItems track by $index" ng-show="tab.show"> -->
<div ng-repeat="tab in tabItems track by $index" ng-show="tab.show" ui-view="{{tab.view}}" class="well" load-data="loadData()" style="min-height: 800px">
</div>
<!-- </div>  -->
