<!-- <button class="btn btn-info" ng-click="refresh();">刷新</button>
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w-lg bg-light dk b-r bg-auto">
        <div class="wrapper-md dker b-b">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="userSearchText" placeholder="Town State Country...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="getLocations()">Search</button>
                </div>
            </div>
        </div>
        show search results for user input
        <div class="wrapper-md">
            <ul class="list-group list-group-sp" ng-show="search.query.count > 1">
                <li class="list-group-item" ng-repeat="loc in search.query.results.place">
                    <a class="clear text-ellipsis" ng-click="getWeather(loc.woeid, loc.name, loc.country.content)">{{loc.name}}, {{loc.admin1.content}}, {{loc.country.content}}</a>
                </li>
            </ul>
            <ul class="list-group list-group-sp">
                <li class="list-group-item">
                    <a href ng-click="getWeather(2459115,'New York','United States')">New York</a>
                </li>
                <li class="list-group-item">
                    <a href ng-click="getWeather(615702,'Paris','France')">Paris</a>
                </li>
                <li class="list-group-item">
                    <a href ng-click="getWeather(44418,'London','United Kingdom')">London</a>
                </li>
                <li class="list-group-item">
                    <a href ng-click="getWeather(1105779,'Sydney','Australia')">Sydney</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<h2>It works</h2>